html {
    scroll-behavior: smooth;
}


.gradient-background {
    background: linear-gradient(300deg, #1B6B93, #4FC0D0, #164B60);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    transition: top 0.3s;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px;
    z-index: 1;

}

#navbar a.active {
    background-color: #A2FF86;
    color: black;
}

.container-fluid {
    padding: 0;
}

#navbar a {
    float: left;
    display: block;
    color: #ffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #4FC0D0;
    color: black;
}

.title-bg {
    background-color: #1B6B93;
}

h1 {
    color: white;
    font-size: 80pt;
    text-transform: uppercase;
}

.profession {
    color: white;
    font-weight: normal;
}

.profile-img {
    opacity: 100%;
}

.icon-square {
    width: 2rem;
    height: 2rem;
    border-radius: 0.75rem;
}

.background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5)),
        url(../assets/mountain-climb.jpg);
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline-section {
    min-height: 100vh;
    padding: 100px 15px;

}



.timeline-item:nth-child(1) {
    animation-delay: 1s;
}

.timeline-item:nth-child(2) {
    animation-delay: 2s;
}

.timeline-item:nth-child(3) {
    animation-delay: 3s;
}


.timeline-items {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    left: calc(50% - 1px);
    animation: moveline 3s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #A2FF86;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #A2FF86;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #1B6B93;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


/* responsive */
@media(max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

@media(max-width: 600px) {
    .profile-img {
        display: none;
    }

    h1 {
        font-size: 60pt;
    }

    .profession {
        color: white;
        font-weight: normal;
        font-size: 16pt;
    }

    .container-fluid {
        padding-right: 12px;
    }

}

@media(min-width: 600px) {
    .profile-img {
        display: none;
    }

    .container-fluid {
        padding-right: 12px;
    }

}

@media(min-width: 992px) {
    .profile-img {
        display: block;
    }
}